//start font vars
$main-font: "IBM Plex Sans", serif;
$secondary-font: "Space Grotesk", sans-serif;
$ibm-mono: "IBM Plex Mono", serif;
$pressio: "Pressio TEST", sans-serif;
//end font vars

//start color vars
$background: #12191B;
$text-color: #FFF7F8;
$green: #01DB95;
$pink: #EE4266;
$purple: #7765E3;
$blue: #005DF8;
//end color vars